body .fa-house-chimney{
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #8785A2;
  font-size: 2em;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color:#ffeff3;
}
nav{
  margin-right: 2rem;
  width: 50%;
  background-color: #fff1ef;
  border-radius: 8px;
}
nav ul{    
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li{
  display: inline-block;
}
.logo{
  background-image: url("logo.jpg");
  background-size: cover;     
  width: 60px;
  height: 60px;
  border-radius: 20px 10px;
  border: 2px solid transparent;   
  box-shadow: 5px 5px 10px;
  margin-left: 5em;    
}
.logo:hover{
  border: 2px solid #ffeff3;
  box-shadow: 6px 6px 15px;
}   
.navbar a{
  
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(107, 76, 76); 
  font-size: 1.7em;
  font-weight: 500;     
  padding: 0 23p; 
}
.border{
  border-radius: 5px;
  line-height: 3.5rem;
}
.border:hover{        
  border-bottom: 5px solid rgb(228, 161, 161);
}





body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
    background: #FFC7C7;
  color: #8785A2;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav a {
color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #8785A2;
}

.hero {
  background-color: #333;
  color: #fff;
  padding: 80px 0;
}

.cta-button {
    background-color: #c44b4b;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #f8b8b8;
}

.featured-destinations {
  padding: 80px 0;
}

.destination {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.destination img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.destination h3 {
  margin-top: 20px;
  font-size: 1.8em;
}

.destination p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

footer {
  background-color: #1e3b4d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.contact {
  padding: 80px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ffd700;
  color: #333;
  padding: 15px 30px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #f0c70a;
}
