*{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border:border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:#ffeff3;
}
nav{
    margin-right: 2rem;
    width: 50%;
    background-color: #fff1ef;
    border-radius: 8px;
}
nav ul{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
}
.logo{
    background-image: url("logo.jpg");
    background-size: cover;     
    width: 60px;
    height: 60px;
    border-radius: 20px 10px;
    border: 2px solid transparent;   
    box-shadow: 5px 5px 10px;
    margin-left: 5em;    
}
.logo:hover{
    border: 2px solid #ffeff3;
    box-shadow: 6px 6px 15px;
}   
.navbar a{
    
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(107, 76, 76); 
    font-size: 1.7em;
    font-weight: 500;     
    padding: 0 23p; 
}
.border{
    border-radius: 5px;
    line-height: 3.5rem;
}
.border:hover{        
    border-bottom: 5px solid rgb(228, 161, 161);
}
/* END OF NAV */
/* nav-2 */
.offer-1{
    background: radial-gradient(#fff,#ffeff3);
}
.offer-1 img{
    margin-left: -150px;
}

.small-container{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-2 .offer-img{
    padding: 50px;
    mix-blend-mode: multiply
}

.col-2{
    flex-basis: 50%;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
small{
    color: #555;
}
h1{
    padding: 30px 0;
    font-weight: bolder;
    font-size: 3em;
    
}
.offer-1 .small-container .row .col-2 img{
    transition: transform 0.5s;
    filter: drop-shadow(20px 20px 10px #b3969e);
}
.offer-1 .small-container .row .col-2 img:hover{
    transform: translatex(50px);
}
.rating .fa, .fa-star-half-stroke, .fa-star{
    color: #ff523b;
}
    /* END OF NAV */
    
    /* featured products */
    .categories{
        margin: 70px 0;
    }
    .small-container{
        
        margin: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        /* background-color: #009aee; */
    }
    
    .col-4{
        flex-basis: 24%;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
        background: 2px solid black;
        
    }
    .col-4 img{
        width: 100%;    
    }
    
    .title{
        padding-top: 20PX;
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 80px;
        color: #555;
    }
    .title::after{
        content: "";
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    h4{
        color: #555;
        font-weight: normal;
    }
    .col-4 p{
        font-size: 14px;
    }
    .rating .fa, .fa-star-half-stroke, .fa-star{
        color: #ff523b;
    }
    .col-4:hover{
        transform: translateY(-5px);
    }
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}


/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 .img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-1{
    flex-basis: 12%;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    
    width: 140px;
}
.play-app-stor{
    border-radius: 10px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}