*{    
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing:border-box;
}
.Dont-Remove-Me{
    flex: 1;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:#ffeff3;
}
nav{
    margin: 0 2rem 0 2rem;
    width: 60rem;
    background-color: #fff1ef;
    border-radius: 8px;
}

nav ul{    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
    
}
.logo{
    background-image: url("logo.jpg");
    background-size: cover;     
    min-width: 60px;
    height: 60px;
    border-radius: 20px 10px;
    border: 2px solid transparent;   
    box-shadow: 5px 5px 10px;
    margin-left: 1rem;    
}
.logo:hover{
    border: 2px solid #ffeff3;
    box-shadow: 6px 6px 15px;
    
}   
.navbar a{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(107, 76, 76); 
    font-size: 1.7rem;
    padding: 0 23p; 
}
.border{
    border-radius: 5px;
    line-height: 3.5rem;
}
.border:hover{        
    border-bottom: 5px solid rgb(228, 161, 161);  
}
.menu-icon{
    font-size: 3em;
    margin-right: 1rem;
    display: none;
}
/* end of nav */

.liurl{
    position: absolute;
    text-align: center;
    top: 90%;
    left: 2%;
    width: 96%;    
    height: 1.3rem;    
    border: 2px solid black;
    background: radial-gradient(#ffffff, #b18989a8);
    text-decoration: none; 

}
.liurl:hover{
    background-color: black;
}

.liurl a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    
}
.liurl a:hover{
    color: rgb(255, 255, 255);
}
/* featured products */
.categories{
    margin: 70px 0;
}
.small-container{
    
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-3{
    flex-basis: 30%;
    max-width: 30%;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.col-4{
    flex-basis: 24%;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    background: 2px solid black;    
}
.col-4 img{
    width: 100%;    
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa, .fa-star-half-stroke, .fa-star{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#ffd6df);
}
.offer-1{
    background: radial-gradient(#fff,#ffeff3);
}
.offer-1 img{
    margin-left: -150px;
    width: 100%;
}
small{
    color: #555;
}
.col-2 .offer-img{
    padding: 50px;
    mix-blend-mode: multiply;
}

.col-2{
    flex-basis: 50%;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
h1{
    padding: 30px 0;
    font-weight: bolder;
    font-size: 3em;
    
}
/* -----testimonial--- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 2px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}
.col-3{
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translatey(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa-quote-left{
    font-size: 35px;
    color: #ff523b;
}
.col-3 p{
    font-size: 15px;
    margin: 12px;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;
}
/* brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 .img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-2 .img .logo{
    background-size: cover;
}
.footer-col-3, .footer-col-1{
    flex-basis: 12%;
    text-align: center;
}
.footer ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    
    width: 140px;
}
.play-app-stor{
    border-radius: 10px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}
.
/* Ferrari F8 Spider */

.offer .small-container .row .col-2 img{
    transition: transform 0.5s;
}
.offer .small-container .row .col-2 img:hover{
    transform: translateY(-5px);
}
/* Ferrari F8 Spider End */
/* nav-2 */
.offer-1 .small-container .row .col-2 img{
    transition: transform 0.5s;
    filter: drop-shadow(20px 20px 10px #b3969e);
}
.offer-1 .small-container .row .col-2 img:hover{
    transform: translatex(50px);
}
/* nav-2 End */

/* footer logo */
.footer-col-2 .logo{
    width: 2rem;
}



@media only screen and (max-width: 1000px)
{
    .brands .col-5{
        width: 5rem;
    }
    .offer-1 img{
        margin-left: 1px;

    }
    .offer-1 h1{
        font-size: 1.3rem;
    }
    .offer-1 small{
        font-size: 0.7rem;
    }
    .featured .row{
        display: flex;
        flex-direction: column;
    }
    .offer .row{
        display: flex;
        flex-direction: column;
    }
    .offer p{
        font-size: 0.9rem;
    }
    .offer h1{
        font-size: 1.5rem;
    }
    .offer small{
        font-size: 0.8rem;
    }
    .testimonial p{
        font-size: 0.7rem;
    }
    .footer .row{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer .p{
        font-size: 1rem;
    }
    .footer .footer-col-2{
        display: flex;
        justify-content: space-evenly;
        padding: 0 60px;        
    }
}
@media only screen and (max-width: 800px)
{
    nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.511);
        width: 100%;
        overflow: hidden;
        transition: max-height  0.5s;
    }
    
    .navbar a{
        color: white;
        font-size: 1.7rem;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .offer-1 .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .offer-1 h1{
        font-size: 2.5rem;
        
    }
    .offer-1 small{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px)
{
    .brands .col-5{
        width: 3.5rem;
    }
    .featured .btn{
        font-size: 0.6rem;
    }
    .offer .ferrari{
        transform: scale(2);
        mix-blend-mode: multiply;  
    }
    .offer p{
        font-size: 0.5rem;
    }
    .offer h1{
        font-size: 1rem;
    }
    .offer small{
        font-size: 0.7rem;
    }
    .testimonial p{
        font-size: 0.5rem;
    }
    .testimonial i{
        font-size: 1rem;
    }
    .testimonial .fa-regular{
        font-size: 0.7rem;
    }
    .testimonial .fa-star{
        font-size: 0.7rem;
    }

}
